

     <% layout('layouts/boilerplate') %> 

     <div class="row">
        <h1 class="text-center">Add a new Bar</h1>
        <div class="col-6 offset-3">
            <form class="validated-form" action="/bars" method="POST" novalidate enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" for="title">Name of the bar:</label>
                    <input class="form-control" type="text" name="bar[title]" id="title" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Location:</label>
                    <input class="form-control" type="text" name="bar[location]" id="location" required>
                </div>

             
              

                <!--
                <div class="mb-3">
                    <label class="form-label" for="image">Image URL</label>
                    <input class="form-control" type="text" name="bar[image]" id="bar" required>
                </div>
                -->
                <div class="mb-3">
                    <label class="form-label" for="description">Description:</label>
                    <textarea class="form-control" type="text" name="bar[description]" id="description" required> </textarea>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="price">Average Cocktail Price:</label>

                    <div class="input-group">
                        <span class="input-group-text" id="price-label">$</span>
                        <input name="bar[price]" id="price" type="text" class="form-control" placeholder="0.00" aria-label="price" aria-describedby="price-label" required>
                    </div>
               </div>

               <div class="mb-3">
                <label for="snacks" class="form-label">Does the bar offer free snacks?</label>
                <select name="bar[snacks]" id="snacks" class="form-select" required>
                  <option selected>Choose...</option>
                  <option value="yes">Yes</option>
                  <option value="no">No</option>
                </select>
              </div>

              <div class="mb-3">
                <label for="menu" class="form-label">Is there a food menu?</label>
                <select name="bar[menu]" id="menu" class="form-select" required>
                  <option selected>Choose...</option>
                  <option value="yes">Yes</option>
                  <option value="no">No</option>
                </select>
              </div>

              <div class="mb-3">
                <label for="">Upload images of the bar:</label>
                <div class="input-group">
                    <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload" name="image" multiple>
                </div>
              </div>
               
                <div class="mb-3">
                    <button class="btn btn-success">Add Bar</button>
                </div>
            </form>
        </div>
    </div>



    


   




      <!--


     <form class="row g-3 validated-form" action="/bars" method="POST" novalidate>
        <div class="col-md-6">
            <label class="form-label" for="title">Bar Name</label>
            <input class="form-control" type="text" name="bar[title]" id="title" required>
        </div>
        <div class="col-md-6">
            <label class="form-label" for="location">Location</label>
            <input class="form-control" type="text" name="bar[location]" id="location" required>
        </div>
        <div class="col-12">
            <label class="form-label" for="image">Image URL</label>
            <input class="form-control" type="text" name="bar[image]" id="bar" required>
        </div>
        <div class="col-12">
            <label class="form-label" for="description">Description</label>
            <textarea class="form-control" type="text" name="bar[description]" id="description" required> </textarea>
        </div>
        <div class="col-md-4">
            <label class="form-label" for="price">Average Cocktail Price</label>

            <div class="input-group">
                <span class="input-group-text" id="price-label">$</span>
                <input name="bar[price]" id="price" type="text" class="form-control" placeholder="0.00" aria-label="price" aria-describedby="price-label" required>
            </div>
        </div>
        <div class="col-md-4">
          <label for="snacks" class="form-label">Does the bar offer free snacks?</label>
          <select name="bar[snacks]" id="snacks" class="form-select">
            <option selected>Choose...</option>
            <option value="yes">Yes</option>
            <option value="no">No</option>
          </select>
        </div>
        <div class="col-md-4">
            <label for="menu" class="form-label">Is there a food menu?</label>
            <select name="bar[menu]" id="menu" class="form-select">
              <option selected>Choose...</option>
              <option value="yes">Yes</option>
              <option value="no">No</option>
            </select>
        </div>
        
    
        <div class="col-12">
            <button class="btn btn-success">Add bar</button>
        </div>
    </form>

    -->